.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-bottom: 4px solid rgb(144, 144, 144);
    background-color: rgb(227, 225, 225);
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold; /* 600 */
    color: rgb(176, 15, 176);
}

.navLinks {
    /* display: flex;
    align-items: center;
    gap: 20px; */
    margin-left: 30px;
}

.navLink {
    font-size: 20px; /* 18px; */
    font-weight: 600; /* 500; 600 */
    /* color: rgb(176, 15, 176); */
    margin: 0 12px;
}

.navLink:hover {
    color: darkblue; /* rgb(176, 15, 176); */
}

.right {
    display: flex;
    align-items: center;
    gap: 10px; /* 20px; */
}

.btn {
    font-size: 21px;
    font-weight: 600;
    display: flex;
    align-items: center; 
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.btn:hover {
    background-color: darkblue;
}